body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}
main{
    display: grid;
    grid-template-areas: "main-title"
    "title-paragraph"
    "img"
    "timeline-title"
    "life-timeline";
    justify-items: center;
    align-items: center;
    text-align: center;

    background-color: rgba(207, 200, 200, 0.452);
}

main h1{
    grid-area: main-title;
}

main .subtitle{
    grid-area: title-paragraph;
}

main .img{
    grid-area: img;
    padding: 0 10%;
    justify-items: center;
    background-color: white;
}

main h2{
    grid-area: timeline-title;
}

main ul{
    margin: 2% 25%;
    text-align: justify;
    grid-area: life-timeline;
}

main ul li{
    margin-bottom: 2%;
}

.phrase{
    margin: 2% 26%;
    text-align: justify;
}